* {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* Header vvv */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6d6ff;
    color: black;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

#nav-left {
    display: flex;
    padding: 10px;
}

#city-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#hamburger {
    border: none;
    background: none;
    font-size: xx-large;
    padding: 10px;
}

#hamburger:hover {
    cursor: pointer;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open-ham::before {
    content: "X";
}

ul {
    display: none;
    list-style: none;

    /* padding: 0;
    margin: 0;
    max-height: 0;            
    transition: max-height 0.5s ease, opacity 0.5s ease; 
    overflow: hidden;   */
}

ul a {
    color: black;
    text-decoration: none;
}

.open-nav {
    padding: 0px;
    display: block;
    width: 100%;
    text-align: center;

    /* max-height: 500px;
    opacity: 1;  
    transition: max-height 0.5s ease, opacity 0.5s ease; */

}

.open-nav li {
    display: block;
}

.open-nav a {
    display: block;
    padding: 15px;
    border-bottom: 2px solid black;
}

.open-nav > :first-child {
    border-top: 2px solid black;
}

.active {
    color: #790279;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* Main vvv */
#view-buttons {
    text-align: center;
    padding: 10px;
}

.view-buttons img {
    display: block;
}

.view-buttons {
    cursor: pointer;
    margin: 5px;
}

/* Grid View on Directory Menu vvv */
.grid-menu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	grid-gap: 10px;
	align-items: center;
    width: 95%;
    margin: 20px auto;
    justify-content: center;
}

.grid {
    background-color: #bed;
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    text-align: center;
    width: 280px;
    height: 360px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid h2 {
    padding: 10px 0 10px 0;
}

.grid p, a {
    padding: 3px;
}

.grid a {
    color: #790279;
    text-decoration: none;
}

/* List View on Directory Menu vvv */
.list-menu {
    display: flex;
	flex-direction: column;
    margin: 20px auto;
}

.list {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
	padding: 10px;
}

.list img {
	display: none;
}

.list:nth-child(even) {
	background-color: #bed;
}

.list > * {
    padding: 5px;
}

.list a {
    color: #790279;
    text-decoration: none;
}


/* Footer vvv */
footer {
    background-color: #d6d6ff;
    padding: 10px;
}

#social-footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#social-footer a img {
    width: 60px;
    height: 60px;
}

#social-footer a {
    display: block
}

