/* Normal Code */
main {
    display: flex;
    flex-direction: column;
}

#side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#side-bar div {
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    background-color: #bed;
}

/* Larger Screen */
@media screen and (min-width: 860px) {
    main {
        display: grid;
        grid-template-columns: 250px 1fr;
    }
}