* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header vvv */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6d6ff;
    color: black;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

#nav-left {
    display: flex;
    padding: 10px;
}

#city-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

#hamburger {
    border: none;
    background: none;
    font-size: xx-large;
    padding: 10px;
}

#hamburger:hover {
    cursor: pointer;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open-ham::before {
    content: "X";
}

ul {
    display: none;
    list-style: none;
    /* padding: 0;
    margin: 0;
    max-height: 0;            
    transition: max-height 0.5s ease, opacity 0.5s ease; 
    overflow: hidden;   */
}

ul a {
    color: black;
    text-decoration: none;
}

.open-nav {
    padding: 0px;
    display: block;
    width: 100%;
    text-align: center;
    /* max-height: 500px;
    opacity: 1;  
    transition: max-height 0.5s ease, opacity 0.5s ease; */
}

.open-nav li {
    display: block;
}

.open-nav a {
    display: block;
    padding: 15px;
    border-bottom: 2px solid black;
}

.open-nav > :first-child {
    border-top: 2px solid black;
}

.active {
    color: #790279;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* Main vvv */
#hero {
    position: relative;
    display: inline;
}

#hero img {
    width: 100%;
    height: auto;
}

#join-button {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding: 10px 20px;
    background-color: #bed;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

#home-title {
    margin: 16px;
}

#home-section {
    margin: 15px;
}

.home-titles {
    text-align: center;
    background-color: #cfcece;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#events {
    background-color: #bed;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}

#events-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    padding: 15px;
    list-style: none;
    text-align: center;
}

#events-list li {
    padding: 5px;
}

#weather {
    background-color: #bed;
    border-radius: 10px;
    margin-bottom: 20px;
}

#weather-card {
    padding: 5px;
    display: flex;
    justify-content: center;
}

#card-img {
    width: 100px;
    height: 100px;
}

#card-text {
    padding: 5px;
}

#card-text p {
    padding: 3px;
}

#forecast {
    background-color: #bed;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#forecast-text {
    height: 70%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#business-cards {
    margin: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.business-card {
    background-color: #d6d6ff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.business-card h2 {
    text-align: center;
    border-bottom: 3px solid darkgray;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-context {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.card-context img {
    padding: 0 5px;
}

.card-text {
    padding: 0 15px;
}

.card-text a {
    color: #790279;
}

/* Footer vvv */
footer {
    background-color: #d6d6ff;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#social-footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#social-footer a img {
    width: 60px;
    height: 60px;
}

#social-footer a {
    display: block
}

