* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header vvv */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6d6ff;
    color: black;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

#nav-left {
    display: flex;
    padding: 10px;
}

#city-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

#hamburger {
    border: none;
    background: none;
    font-size: xx-large;
    padding: 10px;
}

#hamburger:hover {
    cursor: pointer;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open-ham::before {
    content: "X";
}

ul {
    display: none;
    list-style: none;
}

ul a {
    color: black;
    text-decoration: none;
}

.open-nav {
    padding: 0px;
    display: block;
    width: 100%;
    text-align: center;
}

.open-nav li {
    display: block;
}

.open-nav a {
    display: block;
    padding: 15px;
    border-bottom: 2px solid black;
}

.open-nav > :first-child {
    border-top: 2px solid black;
}

.active {
    color: #790279;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* Main vvv */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

#membership-form {
    margin: 0 auto;
    max-width: 345px;
}

#membership-form h2 {
    margin: 20px;
    text-align: center;
}

form {
    margin: 20px;
  
    label {
      display: block;
      color: #790279;
    }

    h3 {
      color: #790279;
      margin: 25px 0 5px 0;
    }
  
    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    input[type=text-area] {
      display: block;
      margin: 2px 0 16px 0 ;
      padding: 12px;
      border: 1px solid #999;
      border-radius: 4px;
      border-left-width: 5px;
      border-left-color:#555;
      color: #3D405B;
      width: 100%;
    }
  
    input:required {border-left-color: #d70000;}
    input:focus {border-left-color: black; outline:none;}
    input:required:valid{border-left-color: green;}
  
    input[type=submit] {
      border: none;
      text-align: center;
      background-color: #bed;
      color: black;
      border-radius: 16px;
      padding: 12px 24px;
      margin: 32px 0;
      font-size: larger;
    }

    input[type=radio]:hover,
    input[type=submit]:hover {
        cursor: pointer;
    }
}

#membership-div {
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
}

#membership-div h2 {
    margin: 20px;
    text-align: center;
}

#member-cards div {
    background-color: #bed;
    margin: 20px;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 5px 20px;
    text-align: center;
    animation-duration: 2s;
    animation-name: slidein;
}

.learn-more {
    padding: 11px;
    margin-top: 10px;
}

.learn-more:hover {
    cursor: pointer;
}

@keyframes slidein {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

#dialog {
    margin: auto auto;
    background-color: #d6d6ff;
}

#dialog div {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-bottom: 10px;
}

#dialog div button {
    padding: 9px;
    font-size: larger;
}

#dialog div button:hover {
    cursor: pointer;
}

#dialog p {
    padding: 5px;
}

/* Footer vvv */
footer {
    background-color: #d6d6ff;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#social-footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#social-footer a img {
    width: 60px;
    height: 60px;
}

#social-footer a {
    display: block
}

