* {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    background-color: #f8f4e8;
}

body {
    background-color: #f8f4e8;
}

/* Header vvv */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #065e7f;
    color: white;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

#nav-left {
    display: flex;
    padding: 10px;
}

h1 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hamburger {
    border: none;
    background: none;
    font-size: xx-large;
    padding: 10px;
    color: white;
}

#hamburger:hover {
    cursor: pointer;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open-ham::before {
    content: "X";
}

ul {
    display: none;
    list-style: none;
}

ul a {
    color: white;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

.open-nav {
    padding: 0px;
    display: block;
    width: 100%;
    text-align: center;
}

.open-nav li {
    display: block;
}

.open-nav a {
    display: block;
    padding: 15px;
    border-bottom: 2px solid white;
}

.open-nav > :first-child {
    border-top: 2px solid white;
}

.active {
    color: white;
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}

/* Footer vvv */
footer {
    background-color: #065e7f;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

#social-footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #f8f4e8;
    border-radius: 5px;
    width: 150px;
    margin: 20px auto;
}

#social-footer a img {
    width: 60px;
    height: 60px;
}

#social-footer a {
    display: block
}

@media screen and (min-width: 860px) {
    /* Header vvv */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 50%;
    }

    .open-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }

    .open-nav li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .open-nav a {
        display: block;
        padding: 15px;
        border-bottom: none;
    }
    
    .open-nav > :first-child {
        border-top: none;
    }

    #hamburger {
        display: none;
    }

    /* Footer vvv */
    footer {
        display: flex;
        justify-content: space-between;
    }

    #social-footer {
        margin: 0 auto;
    }
}
