#dice-header {
    background-color: #545454;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#dice-header h2 {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#dice-header p {
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#dice-cards {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.dice-roller {
    width: 250px;
    margin: 32px auto;
    padding: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 5px solid gray;
}

#d4 {
    border-top: 5px solid gray;
}

.dice-roller img {
    width: 250px;
    height: 250px;
    margin-bottom: 32px;
}

.dice-roller button {
    margin: 16px;
    padding: 20px 50px;
    border-radius: 6px;
}

.dice-roller button:hover {
    cursor: pointer;
}

.dice-roller span {
    background-color: #EFEFEF;
    border: 2px solid black;
    padding: 20px 50px;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    align-self: center;
    border-radius: 6px;
}


@media screen and (min-width: 860px) {
    #dice-header {
        background-color: #545454;
        width: 40%;
        margin: 20px auto;
        text-align: center;
        color: white;
        border-radius: 5px;
        padding: 10px;
    }
}

@media screen and (min-width: 699px) {
    #d4 {
        border-top: none;
    }
}
